:root {
  --bg_h: #111111;
  --bg: #171717;
  --bg_s: #343434;
  --bg1: #2d2d2d;
  --bg2: #4b4b4b;
  --bg3: #111111;
  --bg4: #fdfafe;

  --fg: #fdfafe;
  --fg1: #fdfafe;
  --fg2: #fdfafe;
  --fg3: #fdfafe;
  --fg4: #fdfafe;

  --red: #c94f4f;
  --green: #6b9e5e;
  --yellow: #fad4ff;
  --blue: #fdfafe;
  --purple: #ffeef3;
  --aqua: #ffeef3;
  --gray: #8a6b8f;
  --orange: #c97a4f;

  --blue-dim: #f3ceff;
  --purple-dim: #ffd9e4;
  --yellow-dim: #f6b0ff;
}
