/lib/
/bin/
/.shards/
*.dwarf
data
torexitnodes.txt
files
thumbnails
db.sqlite3
config/config.yml
patchy

# The history of GDB commands for debugging purposes
.gdb_history

# Minified JS files generated with esbuild at build time using `make build`
public/-/assets/js-m

# direnv for nix flakes
.direnv
