@font-face {
	font-family: "FG";
	font-weight: 500;
	src: url('framd.ttf');
}

@font-face {
	font-family: "FG";
	font-weight: 900;
	src: url('frahv.ttf');
}

@font-face {
	font-family: "XFG";
	font-weight: 900;
	src: url('frahvmod.ttf');
}

html {
	font-family: "FG";
	background: #111111;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}


body {
	margin: 0;
	padding: 20px;
}

p,
h1,
h2,
h3,
h4,
h5 {
	color: aliceblue
}

h1 {
	font-family: "FG";
	font-weight: 200;
	max-width: 100%;
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: #ffb6c1
}

.bottom {
	font-size: 0.9em;
	flex: 1;
	text-align: center;
}

.bottom>p {
	margin: 10px 0px;
}

.percent {
	color: aliceblue
}

.container {
	max-width: 800px;
	margin: auto;
	border-radius: 0px;
}

.container>img {
	max-width: 100%;
	max-height: 500px
}

#drop-area {
	text-align: center;
	position: relative;
	width: fit-content;
	margin: 0 auto;
	display: block;
	background: rgba(202, 230, 190, .75);
	border: 1px solid #b7d1a0;
	border-radius: 4px;
	color: #468847;
	cursor: pointer;
	font-size: 24px;
	padding: 28px 48px;
	text-shadow: 0 1px hsla(0, 0%, 100%, .5);
	transition: background-color .25s, width .5s, height .5s;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.upload-status {
	margin-top: 10px;
}

nav a,
nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#upload-status {
	margin: 20px;
}

.upload-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #ffffff;
	padding: 5px;
}

.link-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.link {
	color: #ffb6c1;
	text-decoration: none;
	margin-right: 5px;
}

.link:hover {
	text-decoration: underline;
}

.button {
	display: inline;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
}

.copy-button {
	background-color: #1e8a1a;
}

.delete-button {
	background-color: #b83434;
	margin-left: 6px
}

.copy-button:hover {
	background-color: #156412;
}

.delete-button:hover {
	background-color: #912a2a;
}

.status {
	color: rgb(255, 132, 0);
}