<% content_for "head" do %>
<title> <%= host %> - Admin panel!</title>
<% end %>

<div class="container">
  <a href='/'>Go back</a>
  <hr>
  <h2>Admin panel</h2>
    <p>
      Work in progress admin panel
    </p>
</div>