<% content_for "head" do %>
<title> <%= host %> - <%= translate(locale, "admin_panel") %></title>
<% end %>

<div class="container">
  <a href='/'><%= translate(locale, "go_back") %></a>
  <hr>
  <h2>Admin panel</h2>
    <p>
      Work in progress admin panel
    </p>
</div>