<% content_for "head" do %>
<title> <%= host %> - Login</title>
<% end %>

<div class="container">
  <a href='/'>Go back</a>
  <hr>
  <h2>Login</h2>
    <p>
      Work in progress login for authenticated media
    </p>
</div>