<% content_for "head" do %>
<title> <%= host %> - <%= translate(locale, "report_abuse") %></title>
<% end %>

<div class="container">
  <a href='/'><%= translate(locale, "go_back") %></a>
  <hr>
  <h2>Report abuse</h2>
    <p>
      Work in progress abuse form
    </p>
</div>