<% content_for "head" do %>
<title> <%= host %> - <%= I18n.translate(locale, "report_abuse") %></title>
<% end %>

<div class="container">
  <a href='/'><%= I18n.translate(locale, "go_back") %></a>
  <hr>
  <h2>Report abuse</h2>
    <p>
      Work in progress abuse form
    </p>
</div>
