<% content_for "head" do %>
<title> <%= host %> - Report abuse</title>
<% end %>

<div class="container">
  <a href='/'>Go back</a>
  <hr>
  <h2>Report abuse</h2>
    <p>
      Work in progress abuse form
    </p>
</div>