<%
  title = translate(locale, "index_settings")
%>

<% content_for "head" do %>
<title> <%= host %> - <%= title %></title>
<% end %>

<div class="container">
  <a href='/'><%= translate(locale, "go_back") %></a>
  <hr>
  <h2><%= title %></h2>
  <form class="" action="/-/settings/update_settings" method="post">
      <fieldset>
          <div class="">
            <label for="theme" class="label"><%= translate(locale, "user_settings_theme") %></label>
            <select name="theme" id="theme" class="select-box">
                <% Utils::Themes.themes.each do |option| %>
                    <option value="<%= option %>" <% if user_settings.theme == option %> selected <% end %>><%= option %></option>
                <% end %>
            </select>
          </div>

          <br>

          <div class="">
              <button type="submit" class="select-box"><%= translate(locale, "user_settings_save_settings") %></button>
          </div>
      </fieldset>
  </form>
</div>
