<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/-/assets/css/styles.css?v=<%= ASSET_COMMIT %>">
  <link rel="icon" type="image/x-icon" href="/-/assets/favicon.ico?v=<%= ASSET_COMMIT %>" />
  <link rel="icon" type="image/png" href="/-/assets/favicon.png?v=<%= ASSET_COMMIT %>" />
  <%= yield_content "head" %>
  <script defer data-domain="xqc.moe,i.xqc.moe,cummies.moe,i.cummies.moe" src="https://pls.starkayc.moe/js/script.js"></script>
  <% if !CONFIG.analytics.cloudflare_token.empty? %>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "<%= CONFIG.analytics.cloudflare_token %>"}'></script>
  <% end %>
</head>

<body>
  <%= content %>
</body>

</html>