:root {
	/* https://github.com/YV31/gruvbox-css */
	--bg_h: #1d2021;
	--bg: #282828;
	--bg_s: #32302f;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg4: #7c6f64;

	--fg: #fbf1c7;
	--fg1: #ebdbb2;
	--fg2: #d5c4a1;
	--fg3: #bdae93;
	--fg4: #a89984;

	--red: #fb4934;
	--green: #b8bb26;
	--yellow: #fabd2f;
	--blue: #83a598;
	--purple: #d3869b;
	--aqua: #8ec07c;
	--gray: #928374;
	--orange: #fe8019;

	--red-dim: #cc2412;
	--green-dim: #98971a;
	--yellow-dim: #d79921;
	--blue-dim: #458588;
	--purple-dim: #b16286;
	--aqua-dim: #689d6a;
	--gray-dim: #a89984;
	--orange-dim: #d65d0e;
}

html {
	font-family: "Monospace";
	font-weight: 500;
	letter-spacing: -1.5px;
	background: var(--bg_h);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	margin: 0;
	padding: 20px;
}

h1 {
	font-size: 68px;
	text-align: center;
	margin: 20px;
	max-width: 100%;
	overflow-wrap: break-word;
}

p,
h1,
h2,
h3,
h4,
h5 {
	color: var(--fg3)
}

a {
	color: var(--fg3);
}

hr {
	border-color: var(--bg4);
}

a[href] {
	text-decoration: none;
	color: var(--blue)
}

a[href]:hover {
	text-decoration: underline;
	color: var(--blue-dim)
}

.navbar {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.navbar>.end-of-flex {
	margin-left: auto;
}

.site-info {
	text-align: center;
	font-size: 22px;
}

.footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.bottom {
	font-size: 0.9em;
	flex: 1;
	text-align: center;
}

.bottom>p {
	margin: 10px 0px;
}

.percent {
	color: var(--fg1)
}

.container {
	max-width: 800px;
	margin: auto;
	border-radius: 0px;
}

.media {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 85vh;
}

.media>img {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

.media video {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

.drop-area {
	text-align: center;
	position: relative;
	width: fit-content;
	margin: 0 auto;
	display: block;
	background: var(--bg1);
	border: 1px solid var(--bg2);
	border-radius: 4px;
	cursor: pointer;
	padding: 28px 32px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

input[type="file"] {
	background-color: var(--gray-dim);
	border: 1px solid var(--gray);
	border-radius: 4px;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

input[type="file"]:hover {
	background-color: var(--gray);
}

input[type="submit"] {
	background-color: var(--gray-dim);
	border-radius: 4px;
	border: none;
	padding: 0.75rem 1rem;
	font-weight: bold;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: var(--gray);
}

.button {
	color: var(--white);
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

nav a,
nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#upload-status {
	margin: 10px;
}

.upload-status {
	background: var(--bg1);
	border: 1px solid var(--bg2);
	margin-top: 10px;
	display: flex;
	border-radius: 4px;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	padding: 5px;
}

.link-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.button {
	display: inline;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
}

.copy-button {
	background-color: var(--purple);
}

.copy-button:hover {
	background-color: var(--purple-dim);
}

.delete-button {
	background-color: var(--yellow);
	margin-left: 6px
}

.delete-button:hover {
	background-color: var(--yellow-dim);
}

.status {
	color: rgb(255, 132, 0);
}